/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#pane{
    /*-fx-background-image: url("http://i46.tinypic.com/969cgn.gif");*/
    -fx-background-image: url("http://dpanoply.s3.amazonaws.com/blog/battleship-text-effect-using-layer-styles/final-large.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}
#root{
    -fx-background-image: url("http://i46.tinypic.com/969cgn.gif");
    /*-fx-background-image: url("http://dpanoply.s3.amazonaws.com/blog/battleship-text-effect-using-layer-styles/final-large.jpg");*/
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}